.about_me_wrap
  height: auto
  padding: 30px 30px
  background: linear-gradient(45deg, rgba(41, 56, 68, 0.9), rgba(40, 42, 54, 0.7)), url("../img/27.jpg") center top no-repeat

  .text_h2
    position: relative
    z-index: 1
    margin: 0 auto
    font-size: 45px
    color: rgba(255, 112, 67, 1)
    display: table
    width: auto
    letter-spacing: 4px

    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-top: 3px solid $orange
      z-index: 15

    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-left: 3px solid $orange
      z-index: 15

    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 15
      border-bottom: 3px solid $orange

    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 15
      border-right: 3px solid $orange

  .text_h3
    position: relative
    z-index: 1
    width: max-content
    margin: 40px auto 0
    padding: 0 10px
    font-size: 35px
    color: $gray

    &:before, &:after
      content: ""
      position: absolute
      top: 50%
      width: 30px
      border-bottom: 3px solid

    &:before
      left: -35px

    &:after
      right: -35px

  .text_p
    font-size: 25px
    text-align: center
    color: $grey-text

  .date_p
    width: max-content
    margin: 15px auto 0
    padding: 2px 5px
    font-size: 25px
    font-weight: bold
    text-align: center
    background-color: rgba(255, 112, 67, 1)
    color: $primary
    border-radius: 0 12px 0 12px

@media (max-width: 480px)
  .about_me_wrap
    .text_h2
      font-size: 40px

    .text_h3
      font-size: 30px

    .text_p
      font-size: 20px

    .date_p
      font-size: 20px

@media (max-width: 360px)
  .about_me_wrap
    padding: 30px 10px

  .about_me_wrap
    .text_h3
      font-size: 25px

    .text_p
      font-size: 20px

    .date_p
      font-size: 18px
