.about_me_wrap
  //height: 100vh
  height: auto
  padding: 30px 10px
  background: linear-gradient(45deg, rgba(41, 56, 68, 0.9), rgba(40, 42, 54, 0.7)), url("../img/27.jpg") center top no-repeat
  .text_h2
    //width: max-content
    margin: 0 auto
    font-size: 45px
    //border-top: 7px double
    //border-bottom: 7px double
    color: rgba(255, 112, 67, 1)
    display: table
    width: auto
    letter-spacing: 4px
    ::before
      content: ""
      position: absolute
      top: -50%
      left: -25px
      width: 30px
      height: 20px
      border-top: 2px solid orange
      z-index: 15
    ::after
      content: ""
      position: absolute
      bottom: -50%
      right: -25px
      width: 30px
      height: 20px
      z-index: 15
      border-top: 2px solid orange
  .text_h3
    width: max-content
    margin: 40px auto 0
    padding: 0 10px
    font-size: 35px
    color: $grey
    border-left: 3px solid
    border-right: 3px solid
  .text_p
    font-size: 25px
    text-align: center
    color: $grey-text
  .date_p
    width: max-content
    margin: 15px auto 0
    padding: 2px 5px
    font-size: 25px
    font-weight: bold
    text-align: center
    background-color: rgba(255, 112, 67, 1)
    color: $primary
    border-radius: 0 12px 0 12px

@media (max-width: 375px)
  .about_me_wrap
    .text_h2
      font-size: 35px
    .text_h3
      font-size: 30px
    .text_p
      font-size: 20px
    .date_p
      font-size: 20px
