.about_me_wrap
  height: 100vh
  .text_h2
    width: max-content
    margin: 40px auto 0
    font-size: 45px
    border-top: 7px double
    border-bottom: 7px double
    color: rgba(255, 112, 67, 1)
  .text_h3
    width: max-content
    margin: 40px auto 0
    padding: 0 10px
    font-size: 35px
    color: $grey
    border-left: 3px solid
    border-right: 3px solid
  .text_p
    font-size: 25px
    text-align: center
    color: $grey-text
  .date_p
    width: max-content
    margin: 15px auto 0
    padding: 2px 5px
    font-size: 25px
    font-weight: bold
    text-align: center
    background-color: rgba(255, 112, 67, 1)
    color: $primary
    border-radius: 0 12px 0 12px


@media (max-width: 420px)
  .about_me_wrap
    height: 130vh

@media (max-width: 375px)
  .about_me_wrap
    height: 140vh