.contacts_wrap
  height: 100vh
  padding: 30px 0
  background: url("../img/25_1.jpg") center top no-repeat
  background-size: cover
  .text_h2
    width: max-content
    margin: 0 auto 0
    font-size: 45px
    border-top: 7px double
    border-bottom: 7px double
    color: rgba(255, 112, 67, 1)