.contacts_wrap
  width: 100%
  height: auto
  background: black
  position: relative
  overflow: hidden
  padding: 30px 30px

  &:after
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: url("../img/25.jpg") no-repeat
    background-attachment: fixed
    background-size: cover
    opacity: 0.2
    animation: animateFon 30s linear infinite

  .text_h2
    position: relative
    z-index: 1
    width: max-content
    margin: 0 auto 40px
    font-size: 45px
    color: $orange
    letter-spacing: 4px

    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-top: 3px solid $orange
      z-index: 2

    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-left: 3px solid $orange
      z-index: 2

    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 2
      border-bottom: 3px solid $orange

    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 2
      border-right: 3px solid $orange

  .box-contacts
    position: relative
    width: 100%
    z-index: 2
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    margin-top: 20px

    .wrap-input
      display: flex
      justify-content: center
      position: relative
      width: 100%
      padding: 0 10px
      margin: 30px 0 10px
      transition: 0.5s

      .input-submit
        border: 2px solid $orange
        padding: 7px 35px
        cursor: pointer
        outline: none
        background: $orange
        color: $primary
        font-size: 25px
        font-weight: bold
        border-radius: 6px
        letter-spacing: 2px

        &:hover
          background: transparent
          color: $orange
          transition: 0.5s

    .box-input
      position: relative
      width: 100%
      height: 40px
      color: $orange

      input, &.textarea textarea
        position: absolute
        width: 100%
        height: 100%
        background: transparent
        box-shadow: none
        border: none
        outline: none
        font-size: 25px
        font-weight: bold
        padding: 0 10px
        z-index: 1
        color: $white

        &:focus + .text, &:valid + .text
          top: -35px
          left: -10px

        &:focus ~ .line, &:valid ~ .line
          height: 100%

      .text
        position: absolute
        top: 0
        left: 0
        line-height: 40px
        font-size: 25px
        font-weight: bold
        padding: 0 10px
        display: block
        transition: 0.5s
        pointer-events: none

      .text-sms
        top: 140px

      .line
        position: absolute
        bottom: 0
        display: block
        width: 100%
        height: 2px
        background: $orange
        transition: 0.5s
        border-radius: 6px
        pointer-events: none

      &.textarea
        position: relative
        width: 100%
        height: 180px
        padding: 10px 0

        textarea
          //height: 100%
          height: -webkit-fill-available
          resize: none

      textarea:focus + .text, textarea:valid + .text
        top: -35px
        left: -10px

      textarea:focus ~ .line, textarea:valid ~ .line
        height: 100px

@keyframes animateFon
  50%
    transform: scale(1.5)
  100%
    transform: scale(1)





@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css)

$timing: 0.3s

@mixin transformScale($size: 1)
  transform: scale($size)
  -ms-transform: scale($size)
  -webkit-transform: scale($size)

.social-container
  width: auto
  margin: 50px auto 0
  text-align: center

  .social-icons
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(50px, auto))
    grid-auto-flow: row
    grid-gap: 40px
    justify-items: center
    justify-content: center
    align-items: center
    list-style: none
    margin: 1em

    li
      position: relative
      font-size: 1.2em
      z-index: 2

    i
      color: #fff
      position: absolute
      top: 23%
      left: 35%
      font-size: 25px
      transition: all $timing ease-out

    a
      display: inline-block

      &:before
        @include transformScale()
        content: " "
        width: 80px
        height: 50px
        border-radius: 10%
        display: block
        background: linear-gradient(180deg, $orange, $primary)
        transition: all $timing ease-out

      &:hover:before
        transform: scale(0)
        transition: all $timing ease-in

      &:hover i
        @include transformScale(2.2)
        color: $orange
        background: -webkit-linear-gradient(45deg, $orange, $primary)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        transition: all $timing ease-in

    a.social-square

      &:before
        background: linear-gradient(180deg, $orange, $primary)
        border-radius: 10%

      &:hover:before
        transform: rotate(-180deg)
        -ms-transform: rotate(-180deg)
        -webkit-transform: scale(-180deg)
        border-radius: 100%

      &:hover i
        @include transformScale(1.6)
        color: #fff
        transform: scale(1.6)
        -webkit-text-fill-color: #fff

@media (max-width: 375px)
  .contacts_wrap
    padding: 30px 10px

  .box-contacts
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr))
