.services_wrap
  height: 100vh
  padding: 30px 30px
  background: linear-gradient(45deg, rgba(41, 56, 68, 0.9), rgba(40, 42, 54, 0.7)), url("../img/27.jpg") center top no-repeat

  .text_h2
    width: max-content
    position: relative
    z-index: 1
    margin: 0 auto 0
    font-size: 45px
    color: rgba(255, 112, 67, 1)
    letter-spacing: 4px

    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-top: 3px solid $orange
      z-index: 15

    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-left: 3px solid $orange
      z-index: 15

    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 15
      border-bottom: 3px solid $orange

    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 15
      border-right: 3px solid $orange

@media (max-width: 420px)
  .text_h2
    font-size: 36px !important
