.services_wrap
  height: auto
  padding: 30px 30px
  background: linear-gradient(45deg, rgba(41, 56, 68, 0.9), rgba(40, 42, 54, 0.7)), url("../img/27.jpg") center top no-repeat

  .text_h2
    width: max-content
    position: relative
    z-index: 1
    margin: 0 auto 0
    font-size: 45px
    color: rgba(255, 112, 67, 1)
    letter-spacing: 4px

    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-top: 3px solid $orange
      z-index: 15

    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-left: 3px solid $orange
      z-index: 15

    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 15
      border-bottom: 3px solid $orange

    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 15
      border-right: 3px solid $orange

@keyframes load
  from
    left: -100%

  to
    left: 0



.slider-container
  position: relative
  overflow: hidden
  width: 100vw
  height: 100vh

  .left-slide
    height: 100%
    position: absolute
    top: 0
    left: 0
    width: 35%
    transition: transform .5s ease-in-out

    > .slider-color
      align-items: center
      color: #fff
      display: flex
      flex-direction: column
      justify-content: center
      height: 100%
      width: 100%

      .text_h3
        font-size: 40px
        margin-bottom: 10px
        margin-top: -30px

  .right-slide
    height: 100%
    position: absolute
    top: 0
    left: 35%
    width: 65%
    transition: transform .5s ease-in-out

    > .slider-image
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      height: 100%
      width: 100%

  .action-buttons
    .slider-button
      position: absolute
      left: 35%
      top: 50%
      z-index: 100
      background-color: #fff
      border: 0
      color: #aaa
      cursor: pointer
      font-size: 16px
      padding: 15px
      transition: color .2s ease-in

      &:hover
        color: blue
        background-color: rgba(104, 25, 87, 0.5)
        transition: 0.5s

      &:focus
        outline: 0

    .down-button
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px
      transform: translateX(-100%)

    .up-button
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
      transform: translateY(-100%)

.wrap-color-1
  background-color: $orange

.wrap-color-2
  background-color: $blue

.wrap-color-3
  background-color: $gray

.wrap-color-4
  background-color: $green

.slider-image-1
  background: url("/img/project_1.jpg")

.slider-image-2
  background: url("/img/71.jpg")

.slider-image-3
  background: url("/img/102.jpg")

.slider-image-4
  background: url("/img/project_2.jpg")

@media (max-width: 420px)
  .text_h2
    font-size: 36px !important
