.skills_wrap
  background: url("../img/23_2.jpg") center top no-repeat
  background-size: cover
  background-attachment: fixed
  height: auto
  padding: 30px 0

  .icon_wrap
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, auto))
    justify-items: center
    align-items: center
    grid-auto-flow: row

    .icon_skills
      padding: 19px

  .text_h2
    width: max-content
    margin: 0 auto 25px
    font-size: 45px
    border-top: 7px double
    border-bottom: 7px double
    color: rgba(255, 112, 67, 1)


@media (max-width: 800px)


@media (max-width: 600px)


@media (max-width: 420px)


@media (max-width: 375px)


@media (min-width: 320px) and (max-width: 340px)
