.skills_wrap
  background: url("../img/23.jpg") center no-repeat
  background-size: cover
  background-attachment: fixed
  height: auto
  padding: 30px 0

  .icon_wrap
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, auto))
    justify-items: center
    align-items: center
    grid-auto-flow: row

    .icon_skills
      padding: 19px

  .text_h2
    position: relative
    z-index: 1
    width: max-content
    margin: 0 auto 25px
    font-size: 45px
    letter-spacing: 4px
    color: rgba(255, 112, 67, 1)

    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-top: 3px solid $orange
      z-index: 15
    &:before
      content: ""
      position: absolute
      top: -15%
      left: -20px
      width: 50px
      height: 15px
      border-left: 3px solid $orange
      z-index: 15
    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 15
      border-bottom: 3px solid $orange
    &:after
      content: ""
      position: absolute
      bottom: -10%
      right: -20px
      width: 50px
      height: 15px
      z-index: 15
      border-right: 3px solid $orange


@media (max-width: 800px)


@media (max-width: 600px)


@media (max-width: 420px)


@media (max-width: 375px)


@media (min-width: 320px) and (max-width: 340px)
