.skills_wrap
  background: url("../img/23.jpg") center no-repeat
  background-size: cover
  background-attachment: fixed
  height: auto
  padding: 30px 0

  .icon_wrap
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, auto))
    justify-items: center
    align-items: center
    grid-auto-flow: row

    .icon_skills
      padding: 19px

  .text_h2
    position: relative
    z-index: 1
    width: max-content
    margin: 0 auto 25px
    font-size: 45px
    color: rgba(255, 112, 67, 1)

    &:before, &:after
      content: ""
      position: absolute
      top: 50%
      width: 30px
      border-bottom: 3px solid

    &:before
      left: -45px

    &:after
      right: -45px


@media (max-width: 800px)


@media (max-width: 600px)


@media (max-width: 420px)


@media (max-width: 375px)


@media (min-width: 320px) and (max-width: 340px)
